<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>JSPStudy</display-name>
	<servlet>
		<servlet-name>config</servlet-name>
		<jsp-file>/13/config.jsp</jsp-file>
		<init-param>
			<param-name>username</param-name>
			<param-value>darkmi</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>jikexueyuan</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>config</servlet-name>
		<url-pattern>/13/*</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet配置 -->
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.jikexueyuan.servlet.HelloServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.jikexueyuan.servlet.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>com.jikexueyuan.servlet.CheckServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/checkServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 过滤器配置 -->
	<filter>
		<filter-name>FilterOne</filter-name>
		<filter-class>com.jikexueyuan.filter.FilterOne</filter-class>
		<init-param>
			<param-name>param</param-name>
			<param-value>darkmi</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterOne</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>FilterTwo</filter-name>
		<filter-class>com.jikexueyuan.filter.FilterTwo</filter-class>
		<init-param>
			<param-name>param</param-name>
			<param-value>jikexueyuan</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterTwo</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>