<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JSPStudy</display-name>
  
  <servlet>
  	<servlet-name>config</servlet-name>
  	<jsp-file>/13/config.jsp</jsp-file>
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>darkmi</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>jikexueyuan</param-value>
  	</init-param>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>config</servlet-name>
  	<url-pattern>/13/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>com.jikexueyuan.servlet.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>10</session-timeout>
  </session-config>
</web-app>